---
Language:        Cpp
BasedOnStyle:  LLVM
ColumnLimit: 88
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
#AlignConsecutiveAssignments: true
#AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterEnum: true
#  AfterClass: true
#  AfterStruct: true
#  AfterFunction: true
#  AfterNamespace: true
#  AfterControlStatement: Always
#  BeforeElse: true
BraceWrapping:
  AfterFunction: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
# PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
